.header {
    padding: 2rem 4%;
    @media (min-width: 720px) {
        
       .header__search{ 
            padding: 2rem 10% ;
        }
    }
}
.header__title {
 display: flex;
 justify-content: space-between;
 white-space: pre-wrap;
 padding: 0 0 2rem 0;
}