.search {
    border: 1px solid red;
    @include border-style;
    display: flex;
    justify-content: center;
    background-color: $secondary-color;
    padding: .1rem;
    position: relative;
    z-index: 9;
}