$primary-color:#fafafa;
$secondary-color: #f8f9fa;
$terciary-color: #161c2d;
$resalt-color: hsl(335°, 54%, 43%);

body{
    background-color: $primary-color;
    font-family: Circular Std, serif;
    padding-bottom: 5rem;
}