.navigation {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $secondary-color;
  box-shadow: 1px 0 2px 0 $terciary-color;

  ul {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;

    li {
      list-style: none;
      padding: .5rem;
      a {
        color: $terciary-color;
      }
    }
  }
}
