.job-card{
    @include border-style;
    display: flex;
    background-color: $secondary-color;
    min-width: fit-content;
    padding: .8rem;

    &:hover {
        box-shadow: 1px 1px 1px  $terciary-color
    }
    
}

.job-card__image {
    padding: .2rem .2rem 1rem .2rem;
}
.tags-section {
    display: flex;
}

section .card-description {
    margin-left: .4rem;
}