.job-description {
    background-color: $secondary-color;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4%;
    ul li {
        margin-left: 4%;
        text-decoration: none solid rgba(22,28,45,0.7);
    }
}