.jobs {
    padding-left: 4%;
    article {
        width: fit-content;
        margin: 1rem 1rem 0 0;
    }
}
.recent-jobs {
    header {
        padding-left: 4%;
    }

}

.recent-jobs__section {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    padding-left: 4%;
    article {
        margin-right: 1rem;
    }
}